a {
    text-decoration: none;
}


body {
    font-family: $font-family;
    min-height: 100vh;
}

.primary-color {
    color: $primary-color;
}

.main {

    background-color: $body-bg;
}

.landing {
    margin-top: 2.5rem !important;
}


.log {
    h1 {
        font-size: 24px;
        font-weight: bold;
        color: $primary-color;
        margin-top: 1rem;
    }

    p {
        margin-top: -15px;
    }
}

.log-landing {
    h1 {
        font-size: 24px;
        font-weight: bold;
        color: $primary-color;
        margin-top: 2rem;
    }

    p {
        margin-top: -15px;
    }
}

.text {
    padding-top: 8rem;

    h2 {
        font-size: 50px;
        font-weight: bold;
        color: black;
    }

    p {
        font-size: 16px;
    }
}

.image {
    img {
        width: 100%;
    }
}

.btn-container {
    button {
        margin-right: 2rem;
    }

}

.btn-borded {
    padding: 10px 10px;
    background-color: $primary-color;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 5px;

    a {
        color: white;
    }
}

.btn-outlined {
    padding: 8px 10px;
    border-radius: 5px;
    background-color: transparent;
    font-weight: bold;
}


@media screen and (max-width: 768px) {
    .home {

        .content {
            display: flex;
            flex-direction: column-reverse;

            .text {
                padding-top: 0;

                h2 {
                    font-size: 30px;
                }

                p {
                    font-size: 14px;
                }
            }
        }

        .image {
            margin-top: -2rem;
        }
    }

    .btn-container {
        display: flex;
        justify-content: center;
    }

    footer {
        // padding: 2rem;
        margin-top: 2rem !important;

        .left {
            display: none !important;
            justify-content: space-between !important;

        }

        .right {
            display: flex;
            justify-content: center !important;

        }

        .icon {
            font-size: 12px;
            margin-top: -3rem;
        }
    }

    .flex {
        display: flex;
        flex-direction: column;

        .left {
            margin-right: 0 !important;
        }

        .right {
            margin-left: 0 !important;
        }
    }
}

button {
    padding: 10px;
    margin-left: 10px;
    background-color: #3BCAB3;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

// ..............loader..................

/* Style the modal */
.modal {
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    background-color: rgba(0, 0, 0, 0.4);
    /* Semi-transparent black background */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Modal Content */
.modal-content {
    margin: auto;
    width: 30%;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    display: flex;
    align-items: center;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #fefefe;
}

.modal-text {
    margin-left: 14px;
    font-size: 24px;
}

/* Create the circle loader with pure CSS */
.loader {
    width: 50px;
    height: 50px;
    border: 8px solid #ddd;
    border-top: 8px solid #2196f3;
    border-bottom: 8px solid #2196f3;
    border-radius: 50%;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
